# Dependency and build directories
node_modules/
dist/

# Environment and secret files
.env
env.js
.env.local
public/env.js
*.local

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

echo "dist/assets/config-*.js" >> .gitignore